{% extends 'commons/base.html' %}
{% load static %}

{% block css_link %}
{% endblock %}

{% block custom_style %}
{% endblock %}


{% block body %}
<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <h2 > Welcome to TrendyLooms</h2>
      </div>
    </div>
  </section>
</div>

{% block js_scripts %}
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
{% endblock %}

{% block custom_scripts %}
<script>
  $(function () {
    bsCustomFileInput.init();
  });
  </script>
{% endblock %}



{% endblock %}

