{% extends 'home/commons/main.html' %}
{% load static %}
{% block content %}

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Customize Your Dress
		</h2>
	</section>	


	<!-- Content page -->
<!-- Customized Dress Code Page -->
<section class="bg0 p-t-94 p-b-100">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form enctype="multipart/form-data" method="post" action=""> <!-- Update action URL to your server-side script -->
                    {% csrf_token %}
				<h4 class="cl5 txt-center respon1 m-b-10" style="color:rgb(7, 7, 156);font-weight: 800 !important;">
                        Customize Your Dress
                    </h4>
                    
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="name" placeholder="Your Name" required>
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="tel" name="mobile_no" placeholder="Your Mobile No" required>
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" name="email" placeholder="Your Email Address" required>
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <select class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" name="color" required>
                        <option value="">Select Color</option>
                        {% for color in color %}
                            <option value='{{color.id}}'>{{color.name}}</option>
                        {% endfor %} 
                        </select>
                        <!-- <img class="how-pos4 pointer-none" src="images/icons/icon-color.png" alt="ICON"> -->
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <select class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" name="size" required>
                            <option value="">Select Size</option>
                            {% for size in size %}
                                <option value="{{size.id}}">{{size.name}}</option>
                            {% endfor %}
                        </select>
                        <!-- <img class="how-pos4 pointer-none" src="images/icons/icon-size.png" alt="ICON"> -->
                    </div>

                    <div class="bor8 m-b-20  how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-20 m-t-20" type="file" name="design_image" accept="image/*" required>
                    </div>

                    <div class="bor8 m-b-30">
                        <textarea class="stext-111 cl2 plh3 size-110 p-lr-28 p-tb-25" name="design" placeholder="Please describe your design preferences"></textarea>
                    </div>

                    <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Submit Order
                    </button>
                </form>
            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-calendar-full"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Delivery Date
                        </span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            Estimated: 4-6 weeks
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-checkmark-circle"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Order Confirmation
                        </span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            We will contact you to confirm your order details.
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-envelope"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            Contact Us
                        </span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            For assistance: +91 99999-88888<br>
                            Email: contact@example.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}