{% extends 'home/commons/main.html' %}
{% load static %}
{% block content %}


	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1 rs1-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url('{% static "home/images/slide-03.jpg" %}');">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-202 cl2 respon2">
									Men Wear 2023
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
									New arrivals
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slick1" style="background-image: url('{% static "home/images/slide-02.jpg" %}');">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-202 cl2 respon2">
									Custom Designs
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
									User's Choice
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slick1" style="background-image: url('{% static "home/images/slide-04.jpg" %}');">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-202 cl2 respon2">
									Women’s Wear 2023
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
									NEW SEASON
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>


	<!-- Product -->
	 <!-- Custom Design Product -->
	 <section class="sec-product bg0 p-t-40 p-b-30" id="CustomDesign">
		<div class="container">
			<div class="p-b-10">
				<h1 class="cl5 txt-center respon1" style="color:rgb(7, 7, 156);font-weight: 800 !important;">
					PRINTED T-SHIRTS
				</h1>
			</div>
	
			<!-- Tab01 -->
			<div class="tab01">
				<!-- Nav tabs -->
				<!-- Tab panes -->
				<div class="tab-content p-t-20">
					<!-- - -->
					<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
						<!-- Slide2 -->
						<div class="wrap-slick2">
							<div class="slick2">


								<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
									<!-- Block2 -->
									{% for image in image %}
										<div class="block2">
											{% if image.image %}
												<div class="block2-pic hov-img0">
													<img src="{{ image.image.url }}" alt="IMG-PRODUCT">
			
													<!-- <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
														Quick View
													</a> -->
												</div>
			
												<div class="block2-txt flex-w flex-t p-t-14">
													<div class="block2-txt-child1 flex-col-l ">
														<a href="{% url 'products' %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
															{{ image.name }}
														</a>
													</div>
												</div>
											{% else %}
											<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
									
												<div class="block2">
													<div class="block2-pic hov-img0">
														<img src="{% static 'home/images/product-08.jpg' %}" alt="IMG-PRODUCT">
													</div>
				
													<div class="block2-txt flex-w flex-t p-t-14">
														<div class="block2-txt-child1 flex-col-l ">
															<a href="{% url 'product' %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
																Esprit Ruffle Shirt
															</a>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
										</div>
									{% endfor %}
								</div>
	
								<!-- <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
									
									<div class="block2">
										<div class="block2-pic hov-img0">
											<img src="{% static 'home/images/product-08.jpg' %}" alt="IMG-PRODUCT">
	
											 <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
												Quick View
											</a>
										</div>
	
										<div class="block2-txt flex-w flex-t p-t-14">
											<div class="block2-txt-child1 flex-col-l ">
												<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
													Esprit Ruffle Shirt
												</a>
											</div>
	
											<div class="block2-txt-child2 flex-r p-t-3">
												<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
													<img class="icon-heart1 dis-block trans-04" src="{% static 'home/images/icons/icon-heart-01.png' %}" alt="ICON">
													<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/images/icons/icon-heart-02.png' %}" alt="ICON">
												</a>
											</div>
										</div>
									</div>
								</div> -->
						
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>


		<!-- Banner -->
		<div class="sec-banner bg0 p-t-5 p-b-10">
			<div class="container">
				<div class="row">
					<div class="col-md-6 p-b-20 m-lr-auto">
						<!-- Block1 -->
						<div class="block1 wrap-pic-w">
							<img src="{% static 'home/images/banner-04.jpg' %}" alt="IMG-BANNER">
	
							<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
								<div class="block1-txt-child1 flex-col-l">
									<span class="block1-name ltext-102 trans-04 p-b-8">
										Women
									</span>
	
									<span class="block1-info stext-102 trans-04">
										New Trend
									</span>
								</div>
	
								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link stext-101 cl0 trans-09">
										Shop Now
									</div>
								</div>
							</a>
						</div>
					</div>
	
					<div class="col-md-6 p-b-10 m-lr-auto">
						<!-- Block1 -->
						<div class="block1 wrap-pic-w">
							<img src="{% static 'home/images/banner-05.jpg' %}" alt="IMG-BANNER">
	
							<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
								<div class="block1-txt-child1 flex-col-l">
									<span class="block1-name ltext-102 trans-04 p-b-8">
										Men
									</span>
	
									<span class="block1-info stext-102 trans-04">
										New Trend
									</span>
								</div>
	
								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link stext-101 cl0 trans-09">
										Shop Now
									</div>
								</div>
							</a>
						</div>
					</div>
	
				
				</div>
			</div>
		</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
	  <div class="carousel-item active" style="object-fit:cover; height: 400px; padding: 40px 0px;">
		<img src="{% static 'home//images/s1.png' %}" class="d-block w-100" alt="...">
	  </div>
	  <div class="carousel-item" style="object-fit:cover; height: 400px; padding: 40px 0px;">
		<img src="{% static 'home//images/s2.png' %}" class="d-block w-100" alt="...">
	  </div>
	  <div class="carousel-item" style="object-fit:cover; height: 400px; padding: 40px 0px;">
		<img src="{% static 'home//images/s3.png' %}" class="d-block w-100" alt="...">
	  </div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
  </div>


<!-- Product -->
<section class="bg0 p-t-40 p-b-30">
	<div class="container">
		<!-- Women Product -->
		<section class="sec-product bg0 p-t-40 p-b-30" id="Women">
			<div class="container">
				<div class="p-b-10">
					<h1 class="cl5 txt-center respon1" style="color:rgb(7, 7, 156);font-weight: 800 !important;">
						CATOGERY FOR WOMEN
					</h1>
				</div>
	
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
			
	
					<!-- Tab panes -->
					<div class="tab-content p-t-20">
						<!-- - -->
						<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
							<!-- Slide2 -->
							<div class="wrap-slick2">
								<div class="slick2">
									{% for image in women_image%}
										<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
											<!-- Block2 -->
											<div class="block2">		
												<div class="block2-txt flex-w flex-t p-t-14">
													<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
														<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
															<div class="block2-pic hov-img0">
																<img src="{{image.image.url}}" alt="IMG-PRODUCT">
															</div>
															{{image.name}}
														</a>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									<!-- <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
										
										<div class="block2">		
											<div class="block2-txt flex-w flex-t p-t-14">
												<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
													<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
														<div class="block2-pic hov-img0">
															<img src="{% static 'home/images/product-01.jpg' %}" alt="IMG-PRODUCT">
														</div>
														Printed T-Shirts
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
										
										<div class="block2">		
											<div class="block2-txt flex-w flex-t p-t-14">
												<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
													<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
														<div class="block2-pic hov-img0">
															<img src="{% static 'home/images/product-01.jpg' %}" alt="IMG-PRODUCT">
														</div>
														Plain T-Shirts
													</a>
												</div>
											</div>
										</div>
									</div>
	
									<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
										
										<div class="block2">		
											<div class="block2-txt flex-w flex-t p-t-14">
												<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
													<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
														<div class="block2-pic hov-img0">
															<img src="{% static 'home/images/product-01.jpg' %}" alt="IMG-PRODUCT">
														</div>
														Polos
													</a>
												</div>
											</div>
										</div>
									</div> -->

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Men Product -->
		<section class="sec-product bg0 p-t-40 p-b-30" id="Men">
			<div class="container">
				<div class="p-b-10">
					<h1 class="cl5 txt-center respon1" style="color:rgb(7, 7, 156);font-weight: 800 !important;">
						CATOGERY FOR MEN
					</h1>
				</div>
	
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<!-- Tab panes -->
					<div class="tab-content p-t-20">
						<!-- - -->
						<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
							<!-- Slide2 -->
							<div class="wrap-slick2">
								<div class="slick2">
									{% for image in men_image%}
										<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
											<!-- Block2 -->
											<div class="block2">		
												<div class="block2-txt flex-w flex-t p-t-14">
													<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
														<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
															<div class="block2-pic hov-img0">
																<img src="{{image.image.url}}" alt="IMG-PRODUCT">
															</div>
															{{image.name}}
														</a>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									<!-- <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
										
										<div class="block2">		
											<div class="block2-txt flex-w flex-t p-t-14">
												<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
													<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
														<div class="block2-pic hov-img0">
															<img src="{% static 'home/images/product-11.jpg' %}" alt="IMG-PRODUCT">
														</div>
														Printed T-Shirts
													</a>
												</div>
											</div>
										</div>
									</div>
	
	
									<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
										
										<div class="block2">		
											<div class="block2-txt flex-w flex-t p-t-14">
												<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
													<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
														<div class="block2-pic hov-img0">
															<img src="{% static 'home/images/product-11.jpg' %}" alt="IMG-PRODUCT">
														</div>
														Plain T-Shirts
													</a>
												</div>
											</div>
										</div>
									</div>
	
									<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
										
										<div class="block2">		
											<div class="block2-txt flex-w flex-t p-t-14">
												<div class="block2-txt-child1 flex-col-l" style="background-color: #c5d2f8;">
													<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
														<div class="block2-pic hov-img0">
															<img src="{% static 'home/images/product-11.jpg' %}" alt="IMG-PRODUCT">
														</div>
														Polos
													</a>
												</div>
											</div>
										</div>
									</div> -->
	
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</section>

   <!-- Pillow Product -->
   <section class="sec-product bg0 p-t-40 p-b-30" id="Pillow">
	<div class="container">
		<div class="p-b-10">
			<h1 class="cl5 txt-center respon1" style="color:rgb(7, 7, 156);font-weight: 800 !important;">
				PILLOWS
			</h1>
		</div>

		<!-- Tab01 -->
		<div class="tab01">
			<!-- Nav tabs -->
			<!-- Tab panes -->
			<div class="tab-content p-t-20">
				<!-- - -->
				<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
					<!-- Slide2 -->
					<div class="wrap-slick2">
						<div class="slick2">
							

							<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
								<!-- Block2 -->
								<div class="block2">		
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l">
											<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
												<div class="block2-pic hov-img0">
													<img src="{% static 'home/images/product-06.jpg' %}" alt="IMG-PRODUCT">
												</div>
												<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
													Pieces Metallic Printed
												</a>
											</a>
										</div>
										<div class="stext-105 cl3 " style="flex-direction: column;">
											
											<div style="display:flex !important;margin-top: 3px;">
												<i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
												<i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
												<span><h6>Off</h6></span></div>  
											<div class="sizes mt-1">
												<ul style="display: flex;">
													<li>S</li>
													<li>M</li>
													<li>L</li>
													<li>XL</li>
													<li>XXL</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
								<!-- Block2 -->
								<div class="block2">		
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l">
											<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
												<div class="block2-pic hov-img0">
													<img src="{% static 'home/images/product-06.jpg' %}" alt="IMG-PRODUCT">
												</div>
												<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
													Pieces Metallic Printed
												</a>
											</a>
										</div>
										<div class="stext-105 cl3 " style="flex-direction: column;">
											
											<div style="display:flex !important;margin-top: 3px;">
												<i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
												<i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
												<span><h6>Off</h6></span></div>  
											<div class="sizes mt-1">
												<ul style="display: flex;">
													<li>S</li>
													<li>M</li>
													<li>L</li>
													<li>XL</li>
													<li>XXL</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

						<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
								<!-- Block2 -->
								<div class="block2">		
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l">
											<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
												<div class="block2-pic hov-img0">
													<img src="{% static 'home/images/product-06.jpg' %}" alt="IMG-PRODUCT">
												</div>
												<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
													Pieces Metallic Printed
												</a>
											</a>
										</div>
										<div class="stext-105 cl3 " style="flex-direction: column;">
											
											<div style="display:flex !important;margin-top: 3px;">
												<i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
												<i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
												<span><h6>Off</h6></span></div>  
											<div class="sizes mt-1">
												<ul style="display: flex;">
													<li>S</li>
													<li>M</li>
													<li>L</li>
													<li>XL</li>
													<li>XXL</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
								<!-- Block2 -->
								<div class="block2">		
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l">
											<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
												<div class="block2-pic hov-img0">
													<img src="{% static 'home/images/product-06.jpg' %}" alt="IMG-PRODUCT">
												</div>
												<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
													Pieces Metallic Printed
												</a>
											</a>
										</div>
										<div class="stext-105 cl3 " style="flex-direction: column;">
											
											<div style="display:flex !important;margin-top: 3px;">
												<i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
												<i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
												<span><h6>Off</h6></span></div>  
											<div class="sizes mt-1">
												<ul style="display: flex;">
													<li>S</li>
													<li>M</li>
													<li>L</li>
													<li>XL</li>
													<li>XXL</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>

   <!-- Themes Product -->
   <section class="sec-product bg0 p-t-40 p-b-30" id="Themes">
	<div class="container">
		<div class="p-b-10">
			<h4 class="ltext-105 cl5 txt-left respon1" style="color:rgb(6, 6, 6)">
				Themes
			</h4>
			<h1 class="cl5 txt-center respon1" style="color:rgb(7, 7, 156);font-weight: 800 !important;">
				SHAMY SQUAD
			</h1>
		</div>

		<!-- Tab01 -->
		<div class="tab01">
			<!-- Nav tabs -->
			<!-- Tab panes -->
			<div class="tab-content p-t-20">
				<!-- - -->
				<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
					<!-- Slide2 -->
					<div class="wrap-slick2">
						<div class="slick2">
							<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
								<!-- Block2 -->
								<div class="block2">		
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
											<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
												<div class="block2-pic hov-img0">
													<img src="{% static 'home/images/product-08.jpg' %}" alt="IMG-PRODUCT">
												</div>
												Esprit Ruffle Shirt
											</a>
										</div>
									</div>
								</div>
							</div>
							
							<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
								<!-- Block2 -->
								<div class="block2">		
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
											<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
												<div class="block2-pic hov-img0">
													<img src="{% static 'home/images/product-08.jpg' %}" alt="IMG-PRODUCT">
												</div>
												Esprit Ruffle Shirt
											</a>
										</div>
									</div>
								</div>
							</div>

							<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
								<!-- Block2 -->
								<div class="block2">		
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
											<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
												<div class="block2-pic hov-img0">
													<img src="{% static 'home/images/product-08.jpg' %}" alt="IMG-PRODUCT">
												</div>
												Esprit Ruffle Shirt
											</a>
										</div>
									</div>
								</div>
							</div>


							<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
								<!-- Block2 -->
								<div class="block2">		
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l" style="background-color: #c1cdf1;">
											<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 txt-center" style="color:black">
												<div class="block2-pic hov-img0">
													<img src="{% static 'home/images/product-08.jpg' %}" alt="IMG-PRODUCT">
												</div>
												Esprit Ruffle Shirt
											</a>
										</div>
									</div>
								</div>
							</div>

			
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>

	</div>
</section>


{% endblock %}
