{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'home/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--==========================================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

<!--===============================================================================================-->
</head>
<style>
	* {
		box-sizing: border-box;
	}

	body {
        background-image: url('{% static "home/images/bg login.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		height: 100%;
	}
</style>
</head>

<body style="background-image: url('{% static "home/images/bg login.jpg" %}'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; height: 100%;">

    <div class="container">
        <div style="display: flex; flex-wrap: wrap;">

            <div class="size-210  flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                <div class="flex-w w-full p-b-42">
                    <div class="size-212 p-t-2" id="classicloomdiv">
                        <span class="mtext-110 cl2" style="display: flex;">
                            <h1 style="color: rgb(53, 129, 243);" id="classicTxt">TRENDY</h1> 
                            <h1 id="classicTxt" style="color: chartreuse;">LOOMS</h1>
                        </span>
                        <p class="stext-115 cl1 size-213 p-t-5 text-white">
                            Mens & Womens Wears
                        </p>
                    </div>
                </div>
            </div>

            <div class="size-210 w-full-md m-t-0 m-b-40">
                <form class="p-lr-40 p-tb-35" id='formbox' action="" method="post">
                    {% csrf_token %}
                    <h1 class="p-b-30 text-white text-center" id="loginTxt">Login</h1>
                    <div class="form-group text-white">
                        <label >Mobile No</label>
                        <input type="text" class="form-control"   name="mobile" placeholder="Enter Mobile NO">
                    </div>
                    <div class="form-group text-white">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group form-check text-white" style="display: flex;">
                        <!-- <label class="form-check-label m-r-20 m-t-0" for="exampleCheck1">Forget Password</label> -->
                        <!-- <label class="form-check-label m-r-20 m-t-0" for="exampleCheck1">Forget Password</label>
                        <label class="form-check-label" for="exampleCheck1"> <a href="/signup">SignUp</a></label> -->
                    </div>
                    <button type="submit" class="btn btn-primary text-white submit">Submit</button>
                    <a href="/signup" class="btn btn-success text-white">SignUp</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


