{% extends 'home/commons/main.html' %}
{% load static %}
{% block content %}
<div class="bg0 m-t-23 p-b-40">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-22">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    Women
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
                    Full Sleeve T-Shirt
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
                    Printed T-Shirts
                </button>


                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
                    Plain T-Shirts
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
                    Polos
                </button>
            </div>

            
            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
                </div>	
            </div>

            
        </div>

        <div class="row isotope-grid">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/images/product-01.jpg' %}" alt="IMG-PRODUCT">
                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View1
                        </a>
                    </div>
                    

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Esprit Ruffle Shirt
                            </a>

                            <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/images/icons/icon-heart-01.png' %}" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/images/icons/icon-heart-02.png' %}" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/images/product-02.jpg' %}" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Herschel supply
                            </a>

                            <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/images/icons/icon-heart-01.png' %}" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/images/icons/icon-heart-02.png' %}" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-03.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Only Check Trouser
                            </a>

                        <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/images/icons/icon-heart-01.png' %}" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/images/icons/icon-heart-02.png' %}" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-04.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Classic Trench Coat
                            </a>

                        <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/images/icons/icon-heart-01.png' %}" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/images/icons/icon-heart-02.png' %}" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-05.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Front Pocket Jumper
                            </a>
                        <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item watches">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-06.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Vintage Inspired Classic 
                            </a>

                        <div class="stext-105 cl3 " style="flex-direction: column;">
                                
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-07.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Shirt in Stretch Cotton
                            </a>

                        <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-08.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Pieces Metallic Printed
                            </a>

                        <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item shoes">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-09.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Converse All Star Hi Plimsolls
                            </a>

                        <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-10.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Femme T-Shirt In Stripe
                            </a>

                        <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-11.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Herschel supply 
                            </a>

                            <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-12.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Herschel supply
                            </a>

                            <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-13.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                T-Shirt with Sleeve
                            </a>

                            <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-14.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Pretty Little Thing
                            </a>

                        <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item watches">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-15.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Mini Silver Mesh Watch
                            </a>

                            <div class="stext-105 cl3 " style="flex-direction: column;">
                            
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{% static 'home/' %}images/product-16.jpg" alt="IMG-PRODUCT">

                        <a href="product-detail.html" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                Square Neck Back
                            </a>

                        <div class="stext-105 cl3 " style="flex-direction: column;">
                        
                                <div style="display:flex !important;margin-top: 3px;">
                                    <i class="fa fa-inr" style="flex: none !important; color: #4272d7; font-size:16px;font-weight: 550;">160</i> 
                                    <i class="fa fa-inr" style="font-size: 15px; color: #949393; padding: 0px 5px;"><del>200</del></i>
                                    <span><h6>Off</h6></span></div>  
                                <div class="sizes mt-1">
                                    <ul style="display: flex;">
                                        <li>S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                        <li>XXL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="{% static 'home/' %}images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'home/' %}images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Load More
            </a>
        </div>
    </div>
</div>

{% endblock %}
