{% load static %}
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="product.html" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="product.html" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#CustomDesign" class="stext-107 cl7 hov-cl1 trans-04">
                            Custom Design T-shirts
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#Themes" class="stext-107 cl7 hov-cl1 trans-04">
                            Themes
                        </a>
                    </li>
                    
                    <li class="p-b-10">
                        <a href="#Pillow" class="stext-107 cl7 hov-cl1 trans-04">
                            Pillow
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                

                    <li class="p-b-10">
                        <a href="{% url 'index' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            Home
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="{% url 'about_us' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            About
                        </a>
                    </li>
                    <!-- <li class="p-b-10">
                        <a href="{% url 'blog' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            Blog
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="{% url 'blog_details' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            Blog Details
                        </a>
                    </li> -->
                    <li class="p-b-10">
                        <a href="{% url 'contact_us' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            Contact
                        </a>
                    </li>


                    <li class="p-b-10">
                        <a href="{% url 'customer_login' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            Login
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="{% url 'customer_signup' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            Signup
                        </a>
                    </li>
                  
                    <li class="p-b-10">
                        <a href="{% url 'products' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            Product
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="{% url 'shopping_cart' %}" class="stext-107 cl7 hov-cl1 trans-04">
                            Cart
                        </a>
                    </li>

                    
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    # 30 abc colony, xyz main road, Salem city, Tamil Nadu, India.
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-whatsapp"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                
                </div>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="{% static 'home/images/icons/icon-pay-01.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'home/images/icons/icon-pay-02.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'home/images/icons/icon-pay-03.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'home/images/icons/icon-pay-04.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'home/images/icons/icon-pay-05.png' %}" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://TrendyLooms.com" target="_blank">TrendyLooms</a>

            </p>
        </div>
    </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>