{% load static %}
<header class="header-v2">
		
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar ">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    Offer price sttarting at just <i class="fa fa-inr">100</i>
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        +91-99999-88888
                    </a>

                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        TrendyLooms123@gmail.com
                    </a>

                    <!-- <a href="#" class="flex-c-m trans-04 p-lr-25">
                        EN
                    </a>

                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        USD
                    </a> -->
                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop how-shadow1">
            <nav class="limiter-menu-desktop container-fluid" style="padding-left: 0px;">
                
                <!-- Logo desktop -->		
                <a href="#" class="logo">
                    <img src="{% static 'home/images/icons/logo-01.png' %}" alt="IMG-LOGO">
                </a>

                    <!-- Menu desktop -->
                    
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li class="{% if current_url == 'index' %}active-menu{% endif %}">
                                <a href="{% url 'index' %}">Home</a>
                            </li>



                              {% for menu in menus %}
                              {% if menu.submenus_set.all %}
                              <li class="{% if current_url == menu.name|slugify %}active-menu{% endif %}">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{menu.name}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for sub_menu in menu.submenus_set.all %}
                                          <a class="dropdown-item" href="{% url 'sub_products' sub_menu.main_menu.name|slugify sub_menu.name|slugify %}">{{ sub_menu.name }}</a>
                                        {% endfor %}
                                      </div>
                                  </div>
                              </li> 
                              {% else %}
                              <li class="{% if current_url == menu.name|slugify %}active-menu{% endif %}">
                                <a href="{% url 'main_products' menu.name|slugify %}">{{menu.name}}</a>
                            </li>
                            
                            {%endif %}

                              {% endfor %} 



                              




                        </ul>
                    </div>	

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <!-- <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                        <i class="zmdi zmdi-search"></i>
                    </div> -->
                    
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="{{cart_counts}}">
                        <a href="{% url 'shopping_cart' %}"><i class="zmdi zmdi-shopping-cart"></i></a>
                    </div>

                    <div href="#" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              LOGIN
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">LOGOUT</a>
                            </div>
                          </div>
                        </div>
                </div>
            </nav>
        </div>	
    </div>

<!-- Header Mobile -->
<div class="wrap-header-mobile">
    <!-- Logo moblie -->		
    <div class="logo-mobile">
        <a href="index.html"><img src="{% static 'home/images/icons/logo-01.png' %}" alt="IMG-LOGO"></a>
    </div>

    <!-- Icon header -->
    <div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
        <div class="flex-c-m h-full p-r-10">
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search">
                <i class="zmdi zmdi-search"></i>
            </div>
        </div>

        <div class="flex-c-m h-full p-lr-10 bor5">
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="2">
                <i class="zmdi zmdi-shopping-cart"></i>
            </div>
        </div>
    </div>

    <!-- Button show menu -->
    <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </div>
</div>


<!-- Menu Mobile -->
<div class="menu-mobile">
    <ul class="main-menu-m">
        <li>
            <a href="index.html">Home</a>
                                <span class="arrow-main-menu-m">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
        </li>

        <li>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(250, 253, 255);margin-left: 20px;">
                    Women
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">OverSize T-Shirts</a>
                  <a class="dropdown-item" href="#">Kurti</a>
                  <a class="dropdown-item" href="#">Printed T-Shirts</a>
                  <a class="dropdown-item" href="#">Plain T-Shirts</a>
                </div>
              </div>
          </li>
        
        <li>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(250, 253, 255);margin-left: 20px;margin-top: 8px;">
                    Men
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Full Sleeve T-Shirt</a>
                  <a class="dropdown-item" href="#">Printed T-Shirts</a>
                  <a class="dropdown-item" href="#">Plain T-Shirts</a>
                  <a class="dropdown-item" href="#">Polos</a>
                </div>
              </div>
        </li>
        <li>
            <a href="index.html#CustomDesign">Custom Design T-Shirt</a>
        </li>

        <li>
            <a href="index.html#Themes">Themes</a>
        </li>

        <li>
            <a href="index.html#Pillow">Pillow</a>
        </li>
    </ul>
</div>

<!-- Modal Search -->
<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
    <div class="container-search-header">
        <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
            <img src="{% static 'home/images/icons/icon-close2.png' %}" alt="CLOSE">
        </button>

        <form class="wrap-search-header flex-w p-l-15">
            <button class="flex-c-m trans-04">
                <i class="zmdi zmdi-search"></i>
            </button>
            <input class="plh3" type="text" name="search" placeholder="Search...">
        </form>
    </div>
</div>
</header>